.contacts {
    overflow-x: auto;
    @include _767 {
        //display: none;
    }

    .container {
        max-width: 1140px;
        margin: 0 auto; 
        padding: 19px 0; 
        display: flex;
        justify-content: space-between; 
        @include _1170 {
            padding-left: 15px;
            padding-right: 15px;
            
        }        
    }
    &__item {
        height: 50px;
        display: flex;
        width: 222px;
        white-space: nowrap;
        position: relative;
        @include _1170 {
            padding-right: 5px;
        }
        img {
            width: 28px;
            height: 21px;
            margin-right: 11px;  
        }
    }
    &__contact {
        text-decoration: none;
        color: #242424;
        font-family: "Roboto - Light";
        max-width: 189px;
        a {
            text-decoration: none;
            color: #242424;
            font-size: 12px;
            line-height: 12px;
        }
    }
    &__title {
        font-size: 14px;
        font-weight: 700;
        font-family: 'Roboto-Bold';
        line-height: normal;
        margin-bottom: 5px;
    }
    &__phone {
        font-size: 12px;
        text-decoration: none;
        &-top {
            position: relative;
            top: -6px;
        }
    }
    &__adres {
        font-size: 12px;
        line-height: 12px;
    }
    &__mail {
        position: relative;
        top: 12px;
        right: 123px;
    }
} 

.contacts::-webkit-scrollbar {
    //width: 13px;
    height: 8px;
  }
  
.contacts::-webkit-scrollbar-track {
    background: #d4d4d4;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
  }
  
.contacts::-webkit-scrollbar-thumb {
    background: #939393;
    border-radius: 8px;
    border: 3px solid #d4d4d4;
  }
  
.contacts::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
  }