.solution {
    background: url('../img/Prengi_bacg.png') center (center / cover) no-repeat;
    width: 100%;
    min-height: 889px;
    &__container {
        position: relative;
        max-width: 1140px;
        padding: 80px 50px 60px 50px;
        margin: 0 auto;
        overflow: hidden;
    }
    .title {       
        width: 625px;
        color: #ffffff;
        font-size: 30px;
        font-weight: 600;
        text-align: center; 
        margin: 0 auto 32px auto;
        

    }
    .container {
        position: relative;
        width: 947px;
        height: 560px;
        margin: 0 auto;
        bottom: -100px;
        @include _1170 {
            width: 100%;
        }
        img {
            margin: 0 auto;
        }
        .slick-prev, .slick-next {
            background-color: transparent;
            text-indent: -9999px;
            background: url('../img/left2.png') center (center / cover) no-repeat;
            border: none;
            position: absolute;
            z-index: 5;
            left: -50px;
            width: 20px;
            transform: translateY(-50%);
            bottom: 45%;
            img {
                width: 18px;
                height: 60px;  
            }
        }
        .slick-next {
            text-indent: -9999px;
            background: url('../img/right2.png') center (center / cover) no-repeat;
            left: auto;
            right: -5%;
        }
        .slick-dots {
            display: none !important;
        }

        .catalog__tabs {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            width: 843px;
            height: 65px;
            padding: 0;
            margin: 0 auto;
            position: absolute;
            top: -100px;
            transform: translateX(50%);
            right: 50%;
            border: solid 1px white;
            border-radius: 3px;
            padding-left: 20px;
            overflow: hidden;
            a {
                text-decoration: none;
                position: relative;
                height: 49px;
                display: flex;
                align-items:center;
                justify-content: space-evenly;
                border-right: solid 0.1px white;
                top: 7px;
                font-size: 14px;
                color: #ffffff;
                padding-right: 25px;
                &:nth-child(6) {
                    border-right: none !important;
                    width: 90px;
                }
            }
        }  
    }
}

.solution .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}