.storage {
    position: relative;
    width: 100%;
    min-height: 580px;
    overflow: hidden;
    .container {
        width: 100vw;
        display: inline-flex;
        justify-content: center;
        @include _979 {
            display: grid;
            justify-items: center;
            overflow-x: scroll;
            //grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
        }
    }
    &__title {
        position: absolute;
        color: #ffffff;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        width: 391px;
        padding-top: 80px;
        z-index: 5;
        @include _767 {
            font-size: 22px;
            width: 290px;
            padding-top: 50px;
        }
    }
    .left-wrapper,
    .right-wrapper {
        position: absolute;
        right: 50%;
        &__back {
            position: absolute;
            height: 167px;
            background-color: #00c2f0;
            opacity: 0.3;
            width: 167px;
            z-index: 3;
            right: 43px;
            transform: translateY(-50%);
            top: 55%;
            @include _767 {
                top: 40%;
                right: -80px;
            }
        }
        &__subtitle {
            position: absolute;           
            height: 27px;
            color: #ffffff;
            font-size: 30px;
            font-weight: 600;
            line-height: 22px;
            text-align: right;
            text-transform: uppercase;
            width: 390px;
            right: 82px;
            z-index: 4;
            transform: translateY(-50%);
            top: 46%;
            @include _979 {
                font-size: 24px;
            }
            @include _767 {
                top: 30%;
                right: -60px;
                font-size: 16px;
            }
        }
        &__descr {
            position: absolute;
            height: 43px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            text-align: right;
            width: 485px;
            z-index: 4;
            transform: translateY(-50%);
            top: 57%;
            right: 82px;
            @include _1170 {
                width: 400px;
            }
            @include _979 {
                font-size: 16px;
                width: 295px;
            }
            @include _767 {
                top: 38%;
                right: -60px;
                font-size: 14px;
                width: 205px;
            }
        }
    }
    .right-wrapper {
        left: 50%;
        &__back {
            left: 43px;
            @include _767 {
                top: 77%;
                left: -85px;
            }
        }
        &__subtitle {
            text-align: left;
            left: 82px;
            @include _767 {
                top: 67%;
                left: -60px; 
            }
        }
        &__descr {
            text-align: left;
            left: 82px;
            @include _767 {
                top: 75%;
                left: -60px;
            }
        }  
    } 
}